body{
    background: url(./png/background\ first\ page.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrappersidebar{
  background-color: black;
  display: flex;
}
.sidebarA{
  display: block;
  flex-basis: 25%;
  text-align: center;
  font-size: 3em;
}

.sliderdiv{ 
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.buttonslider{
  background-color: rgba(255, 255, 255, 0);
  font-size: 3em;
  border: 0px;
  position: absolute;
  color: rgb(25, 0, 255);
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 10px;
  margin-top: 200px;
}
a{
  text-decoration: none;
  color: rgb(25, 0, 255);
}

