a{
    text-decoration: none;
    color: blue;
}
.wrappersidebar{
    background-color: black;
    display: flex;
    margin-bottom: 10px;
  }
.sidebarA{
    display: block;
    flex-basis: 25%;
    text-align: center;
    font-size: 3em;
}
.exempleimg{
    width: 40%;
    height: 40%;
    border: 2px black solid;
    float: left;
    font-size: 1.4em;
}
.logos{
    width: 18%;
    height: 40%;
    border: 2px solid black;
    float: left;
}