ul{
    list-style: none;
}
.logo{
    transform: translateY(-100px) translateX(-50px);
}
.headmagic{
    height: 300px;
}
.minidiscription{
    height: 300px;
    width: 715px;
    margin-left: 500px;
    position: absolute;
    font-size: 2.5em;
}
.MAGIC{
    font-size: 2.5em;
    text-align: center;
}
.listmod{
    font-size: 2em;
    overflow: hidden;
}
.firstpart {
    display: block;
    width: 50%;
    float: left;

}
.secondpart {
    display: block;
    width: 50%;
    float: left;

}
.secondpart .wrapper {
    padding: 2rem;
}
@media screen and (max-width:991px){
    .listmod{
        font-size: 1.5em;
    }
    
    .MAGIC{
        font-size: 1.5em;
        transform:  translateX(-100px);
    }
    .logo{
        width: 400px;
        height: 400px;
        margin-top: 70px;
    }
    .minidiscription{
        height: 300px;
        width: 715px;
        margin-left: 350px;
        font-size: 2.5em;
    }
    .photo img {
        width: 100%;
    }
}