body{
    background: url(./png/background\ first\ page.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
}
h1{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 3em;
    color: rgb(152, 152, 152);
}
.logo{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.wrapper{
    display: flex;
}
.logo:hover{
    width: 70%;
    transition: 0.5s;
}