.wrappertitle{
    width: 100%;
}
.logo{
    display: block;
    width: 400px;
    height: 350px;
    float: left;
}
.minidiscription{
    vertical-align: top;
    margin-top: 0px;
}
.title{
    margin-bottom: 0px;
}
.hedder_body{
    display: block;
    font-size: 2.2em;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.firstlist{
    float: left;
    font-size: 2.5em;
}
.secondlist{
    float: left;
    font-size: 2.5em;
}
.ip{
    font-size: 1.5em;
}
