body{
    background: url(./png/backgroundcall.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
}
.call{
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.705);
    color: rgba(255, 255, 255, 0.973);
    border-radius: 10px;
}
.callul{
    padding: 0px;
    margin-left: 40px;
    list-style: none;
}
.call a{
    text-decoration: none;
    color: rgb(153, 153, 24);
}